{% load static %}

<!DOCTYPE html>

<html lang="en-us" dir="ltr">

<head>
  <title>Site administration | Django site admin</title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="robots" content="NONE,NOARCHIVE">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

</head>

{% if stauts_body == 'page-home' %}
<body class=" dashboard" data-admin-utc-offset="0">
{% else %}
<body class=" app-project_control model-documentmodel change-list" data-admin-utc-offset="0">
{% endif %}

  <!-- Container -->
  <div id="container">

    <!-- Header -->
    <div id="header">
      <div id="branding">
        <h1 id="site-name"><a href="/">Project Administration</a></h1>
      </div>
      <div id="user-tools">
        Welcome,
        <strong>admin</strong>.
        <a href="/">Home</a> /
        <a href="/admin/">Admin Access</a> /
        <a href="{% url 'logout' %}">Log out</a>
      </div>
    </div>

      {% block content %}

      {% endblock %}


</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
-->

<script src="/static/admin/js/nav_sidebar.js" defer></script>
<script src="/admin/jsi18n/"></script>

<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/script-coin.js' %}"></script>


</html>