
{% extends 'base.html' %}
{% block content %}

<!-- Content -->
<div id="content" class="colMS">
    <h1>Site administration</h1>
  <div id="content-main">

  <div class="app-auth module">
    <table>
      <caption>
        <a href="/admin/auth/" class="section"
        title="Projects Currently in Progress">PROJETOS EM ANDAMENTO</a>
      </caption>

      <tr class="model-group">
        <th scope="row"><a href="{% url 'lista-proj' %}">Lista de Projetos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="{% url 'new-proj' %}" class="addlink">Add</a></td>
      </tr>

      <tr class="model-user">
        <th scope="row"><a href="#">Status do Projeto</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="#" class="addlink">Add</a></td>
      </tr>

      <tr class="model-group">
        <th scope="row"><a href="{% url 'lista-model-docs' %}">Criar Lista de Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
      </tr>

    </table>
  </div>

  <div class="app-project_control module">
    <table>
      <caption>
        <a href="/admin/project_control/" class="section"
          title="Models in the Project_Control application">CONFIGURAÇÃO DE PROJETOS</a>
      </caption>

      <tr class="model-action">
        <th scope="row"><a href="{% url 'new-proj' %}">Novo Projeto</a></th>
        <td><a href="/admin/project_control/project/" class="changelink">Notes</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="admin/project_control/documentmodel/">Tipos de Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/documentmodel/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/subject/">Disciplinas</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/subject/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/action/">Ações</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/action/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/pagetype/">Padrões de Folha</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/pagetype/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/pageformat/">Formato de Documento</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/pageformat/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/statusdoc/">Status Documentos</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/statusdoc/add/" class="addlink">Add</a></td>
      </tr>

      <tr class="model-doctype">
        <th scope="row"><a href="/admin/project_control/employee/">Colaboradores</a></th>
        <td><a href="#" class="changelink">Notes</a></td>
        <td><a href="/admin/project_control/employee/add/" class="addlink">Add</a></td>
      </tr>
      
    </table>
    
  </div>
</div>

<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>Recent actions</h2>
      <h3>My actions</h3>
      <ul class="actionlist">

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/6/change/">Diagrama de Interligação</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/5/change/">Planta de Locação</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/doctype/10/change/">DE</a>
          <br>
          <span class="mini quiet">Doc type</span>
        </li>

        <li class="deletelink">
          DE
          <br>
          <span class="mini quiet">Pageformat</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/4/change/">Planta de Locação</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>
        <li class="addlink">
          <a href="/admin/project_control/pageformat/4/change/">DE</a>
          <br>
          <span class="mini quiet">Pageformat</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/3/change/">Fluxograma de Engenharia</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/doctype/9/change/">FG</a>
          <br>
          <span class="mini quiet">Doc type</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/2/change/">Critério de Projeto</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>

        <li class="addlink">
          <a href="/admin/project_control/documentmodel/1/change/">Memorial Descritivo</a>
          <br>
          <span class="mini quiet">Document model</span>
        </li>

      </ul>

    </div>
  </div>


{% endblock %}