{% extends 'base.html' %}

{% block content %}

<div class="content">
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Are you sure?</h1>
        <p>Are you sure you want to delete the project "Projeto Tanques de Agitação"? All of the following related items will be deleted:</p>

        <h2>Summary</h2>
        <ul>
            <li>Items to Delete: {{count_del_items}}</li>
        </ul>

        <h2>Objects</h2>
        <ul>
        {% csrf_token %}
        {% for item in ProjRead %}
            <li>Projects: <a href="Edit_Proj/{{item.0}}">{{item.1}}</a></li>



        <form action="del-proj/{{item.0}}" method="post"><input type="hidden" name="csrfmiddlewaretoken" value="">
            {% endfor %}
        </ul>

            <div>
        <input type="hidden" name="post" value="yes">
    
      
        <input type="submit" value="Yes, I’m sure">
        <a href="{% url 'lista-proj' %}" class="button cancel-link">No, take me back</a>
    </div>
    </form>

{% endblock %}
